<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.aviatorpro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Aviator Pro</name>
  <description>Aviator Pro — Flight Predictor (Premium)</description>
  <author email="youremail@example.com" href="https://yourwebsite.com">Your Name</author>
  <content src="index.html" />
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />
  <platform name="android">
    <allow-intent href="market:*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
  </platform>
</widget>
